*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


:root{
  --bg-color: #ffffff;
  --second-bg-color: #d1d1d1;
  --text-color: rgb(0, 0, 0);
  --second-color: rgb(48, 46, 46);
  --main-color: #f43a3a;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all .45s ease;
}

.logo{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all .45s ease;
}

.logo:hover {
  letter-spacing: 2px;
}

span{
  color: var(--main-color);
}

.navlist{
  display: flex;
}

.navlist a{
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all .45s ease;
}

.navlist a:hover{
  color: var(--main-color);
  letter-spacing: 1px;
}

.navlist a.active{
  color: var(--main-color);
}


#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  transition: all .9s ease;
}

section{
  padding: 7rem 15%;
}

.home{
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1247677/pexels-photo-1247677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text h1{
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 80px;
  color: #ffffff;
}

.home-text h3{
  /* text-align: center; */
  color: #ffffff;
  margin: 60px 0 30px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  
}


.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: inline-block;
  padding: 12px 28px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease; 
}

.btn:hover{
  transform: scale(0.9);
}

header.sticky{
  background: var(--second-bg-color) ;
  border-bottom: 1px solid #ffffff1a;
  padding: 12px 8%;
}

.order{
  align-items: center;
  justify-content: center;
}

.order h2{
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1;
  margin: 0 0 3rem;
}

.order p{
  line-height: 1.6;
  margin: 0 0 3rem;
  font-size: 1.5rem;
}
.order .button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.menu{
  background: var(--second-bg-color);
}
.row .image img{
  width: 100%;
  border-radius: 8px;
  margin:0 0 0;
}

.menu h1{
  margin: 1rem 0 4rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center;
}

.row .text h4{
  font-weight: 600;
  margin: 20px 0 7px;
  font-size: 1.2rem;

}

.text p span{
  font-weight: 700;
}

.gallery{
  display: grid;
}

.gallery h1{
  margin: 1rem 0 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center; 
}

.gallery .image img{
  width: 100%;
  border-radius: 8px;
  margin:0 0 0;
}

.gallery p{
  font-weight: 600;
  margin: 20px 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.gallery .carousel{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.carousel .image img{
  aspect-ratio: 4/4;
  object-fit: cover;
  transition: transform .5s;
  cursor: pointer;
}
.carousel .image:hover img{
    transform: scale(1.1);
}


.booking{
  background: var(--second-bg-color);
}
.booking h1{
  margin: 1rem 0 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center; 
}

.booking p{
  font-weight: 600;
  margin: 20px 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.booking form{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.booking .row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-form form{
  position: relative;
}


.contact-form form input, form textarea{
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: black;
  outline: black;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea{
  resize: none;
  height: 100px;
}

.contact-form .submit{
  display: inline-block;
  font-size: 16px;
  background: #f93d3d;
  color: var(--text-color);
  width: 160px;
  transition: all .45s ease;
}

.contact-form .submit:hover{
  transform: scale(1.1);
  background: #92f717;
  cursor: pointer;
}

.end{
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: black;
  color: #ffffff;
}

.top:hover{
  background-color: #d1d1d1;
}
@media (max-width: 1448px) {

  header{
    padding: 16px 6.5%;
  }
  header.sticky{
    padding: 5px 2.5%;
  }
  section{
    padding: 110px 8% 60px;
  }
  .end{
    padding: 15px 3%;
  }
}

@media (max-width: 920px) {
  .menu{
    grid-template-columns: 1fr;
  }
  .row{
    text-align: center;
    order: 2;
  }

  .row img{
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .contact{
    grid-template-columns: 1fr;
  }
}


@media (max-width: 840px) {
  #menu-icon{
    display: block;
  }
  .home{
    background-position: top right;
  }
  .navlist{
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: all .45s ease;
  }
  .navlist a{
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all .45s ease;
    color: var(--text-color);
  }
  .navlist a:hover{
    color: var(--text-color);
  }
  .navlist a.active{
    color: var(--text-color);
  }
  .navlist.open{
    top: 100%;
  }
  .portfolio-content img{
    box-sizing: content-box;
  }
}

@media (max-width: 520px){
  :root {
      --big-font: 2rem;
      --h2-font: 2rem;
      --p-font: 0.7rem;
      transition: .1s;
  }

  .logo {
    font-size: 1.4rem;
  }

  .home{
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .home .home-text h1{
    margin: 60px 0;
    text-align: center;
    align-items: center;
  }

  .home-text h3, .end{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
  }

  .order h2, .menu h1, .gallery h1, .booking h1{
    font-size: 2.5rem;
  }

  .order p, .gallery p, .booking p{
    font-size: 1rem;
  }

  .menu .row, .booking .row{
    display: block;
  }
  }